.DS_Store
__pycache__
.python-version
out/data_bin/*
out/data_raw/*
out/data_bin_art/*
out/models/*
out/results/*
out/log/*
out/models_lm
fairseq.egg-info
build
data/*
data_art/*
dicts/*
out_*
analysis
.nfs*
!.gitkeep
