{% extends "bootstrap/base.html" %}

{% block title %}日本語文法誤りチェッカー{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ prefix }}/static/style.css">
{% endblock %}


{% block content %}
<div class="container">
  <h1>日本語文法誤りチェッカー</h1>
  <hr>
  <form>
    <div class="form-group">
      <textarea class="form-control" id="input_text" rows="5" maxlength="300" name="input_text"
                placeholder="ここに文を入力"></textarea>
    </div>
    <br>
    <button type="submit" id="submit-btn" class="btn btn-primary btn-lg btn-block">
      訂正する
    </button>
  </form>

  <br>
  <div class="card">
    <div class="card-header">結果</div>
    <div class="card-body">
      <div id="result"></div>
    </div>
  </div>

  <div class="info" style="margin-top: 100px;">
    <div class="info-header">注意事項</div>
    <div class="info-body">
      <ul>
        <li>句点(。)または改行で文を区切ります。</li>
        <li>数字は全て0に変換されます。</li>
        <li>句読点(、。)と大カッコ(「 」)以外の記号は削除されます。</li>
        <li>長い文章は結果が表示されないことがあります。</li>
      </ul>
    </div>
  </div>

  <div class="info">
    <div class="info-header">入力例</div>
    <div class="info-body">
      <ul>
        <li>質問を対応する。</li>
        <li>メッセージを表示されます。</li>
        <li>昨日は雨が降る。</li>
        <li>アイコンをクリークする。</li>
        <li>質問があたらお願いします。</li>
      </ul>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">長岡技術科学大学 自然言語処理研究室</p>
  </div>
</footer>
{% endblock %}


{% block scripts %}
{{ super() }}
<script>
  function ajax(text) {
    return $.ajax({
      type: "GET",
      url: "{{ prefix }}/api",
      data: { "input_text": text },
      contentType: "application/JSON",
      dataType: "json",
      scriptCharset: "UTF-8",
      timeout: 10000,
      async: false
    })
  }

  function getResult(ajaxResponse) {
    var results = "";
    for (i in ajaxResponse["res"]) {
      var res = ajaxResponse["res"][i];
      var src_edit_pos = res["edits"]["src_edit_pos"];
      var tgt_edit_pos = res["edits"]["tgt_edit_pos"];
      var src_tokens = res["src_str"].split(" ");
      var tgt_tokens = res["best_hypo"]["hypo_str"].split(" ")

      // source box
      var src_html = "";
      for (i in src_tokens) {
        if (src_edit_pos.includes(parseInt(i))) {
          src_html += "<span class='token error-token'>" + src_tokens[i] + "</span>";
        } else {
          src_html += "<span class='token'>" + src_tokens[i] + "</span>";
        }
      }
      var src_box = "<div class='result-box'><div class='prefix'></div><div>" + src_html + "</div></div>";

      // target box
      var tgt_html = "";
      for (i in tgt_tokens) {
        if (tgt_edit_pos.includes(parseInt(i))) {
          tgt_html += "<span class='token corr-token'>" + tgt_tokens[i] + "</span>";
        } else {
          tgt_html += "<span class='token'>" + tgt_tokens[i] + "</span>";
        }
      }
      var tgt_box = "<div class='result-box'><div class='prefix'>▶︎</div><div>" + tgt_html + "</div></div>";

      // result
      results += "<div class='result-pair'>" + src_box + tgt_box + "</div>";
    }
    return results
  }

  $("#submit-btn").on("click", function() {
    event.preventDefault();
    $("#result").html("");
    var text = $("#input_text").val();
    ajax(text).done(function(res) {
      var results = getResult(res);
      $("#result").html(results);
    }).fail(function() {
      console.log("error");
    });
  });
</script>
{% endblock %}
